const title = 'Site name | A basic Nuxt starter',
    description = 'A basic Nuxt starter template',
    shortName = 'Site name'

export default {
    modules: [
        '@nuxtjs/pwa'
    ],

    head: {
        meta: [
            {'http-equiv': 'X-UA-Compatible', 'content': 'ie=edge'}
        ]
    },

    manifest: {
        'name': title,
        'short_name': shortName,
        'description': description,
        'theme_color': '#333',
        'lang': 'en'
    },

    css: [
        '@/src/scss/style.scss'
    ],

    router: {
        linkActiveClass: 'c-nav__link--active'
    },

    plugins: [
        '@/plugins/contentful'
    ],

    generate: {
        dir: 'public'
    },

    env: {
        CONTENTFUL_SPACE_ID: 'INSERT SPACE ID HERE',
        CONTENTFUL_CDA_ACCESS_TOKEN: 'INSERT ACCESS TOKEN HERE',
        CONTACT_EMAIL_ADDRESS: 'INSERT CONTACT EMAIL ADDRESS HERE'
    }
}