.c-footer {
    background-color: $theme-color;
    padding: $padding;

    .c-nav {
        display: flex;

        &__links {
            align-items: flex-start;
            flex-direction: column;

            &-legal {
                display: block;
            }
        }

        &__item {
            margin-bottom: 1rem;
        }
    }
}