.c-nav {
	$this: &;

    display: flex;
    width: auto;

    &__menu {
        align-items: center;
        list-style: none;
        display: none;

        @media (min-width: $medium) {
            display: flex;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__logo {
        cursor: pointer;
        height: 2.5rem;
        width: auto;

        @media (min-width: $medium) {
            height: 3.5rem;
        }
    }

    &__item {
        margin: 0 1.6rem;

        #{$this}__link {
            &--active {
                border-bottom: .2rem solid $secondary-font-color;
            }
        }
    }

    &__brand {
        margin-right: auto;
    }

    &__link {
		color: $secondary-font-color;
        text-decoration: none;
    }

    &__legal {
        display: block;
        margin-top: 2.5rem;
        list-style: none;
    }
}