.c-nav {
	$this: &;

    display: flex;
    width: 100%;

    &__links {
		align-items: center;
        display: flex;
        list-style: none;

        &:last-child {
            margin-right: 0;
        }

        &-legal {
            display: none;
            margin-top: 1.2rem;
        }
    }

    &__logo {
        height: auto;
        width: 5rem;
    }

    &__item {
        margin: 0 10px;

        #{$this}__link {
            &--active {
                border-bottom: 2px solid $secondary-font-color;
            }
        }
    }

    &__brand {
        margin-right: auto;
    }

    &__link {
		color: $secondary-font-color;
        text-decoration: none;
    }
}