.c-page {
    &__featured-section {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__featured-image {
        left: 0;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        position: absolute;
        top: 0;
        transition: opacity 100ms linear;
        width: 100%;

        &-container {
            display: block;
            position: relative;
            width: 100%;

            &:before {
                padding-bottom: 45%;
                animation: gradientChange 2.5s ease infinite;
                background: linear-gradient(-45deg, $grey-light, $grey-lighter);
                background-size: 400% 400%;
                content: '';
                display: block;
            }
        }
    }

    &__brand-logo {
        display: block;
        margin: 0 auto;
        width: 50%;

        @media (min-width: 768px) {
            margin-bottom: 1.6rem;
            width: 75%;
        }

        @media (min-width: 1200px) {
            margin-bottom: 3.2rem;
            width: 100%;
        }
    }

    &__introduction {
        max-width: 50rem;
        padding: 2.5rem;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    &__section {
        margin: 0 auto;
        text-align: left;
        width: 100%;

        @media (min-width: 768px) {
            margin: 3.6rem auto;
            width: 66rem;
        }

        @media (min-width: 1200px) {
            width: 88.8rem;
        }
    }

    &__heading {
        color: $secondary-font-color;
    }
}

@keyframes gradientChange { 
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}