/* Mix of both resetting and normalising the stylesheets (Normalize package not used) */
* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    &.menu-is-open {
        overflow: hidden;

        @media (min-width: $medium) {
            overflow: auto;
        }
    }
}

h1,
h2,
h3 {
    color: $primary-font-color;
    font-family: $secondary-font;
}

h1 {
    font-size: $text-large;
    margin-bottom: $text-regular;

    @media (min-width: $small) {
        font-size: $text-x-large;
    }

    @media (min-width: $medium) {
        font-size: $text-xx-large;
        margin-bottom: $text-xx-large;
    }

    @media (min-width: $x-large) {
        font-size: $text-xxx-large;
    }
}

h2 {
    font-size: $text-medium;
    margin-bottom: $text-regular;

    @media (min-width: $small) {
        font-size: $text-large;
    }

    @media (min-width: $medium) {
        font-size: $text-x-large;
        margin-bottom: $text-medium;
    }
}

h3 {
    font-size: $text-medium;

    @media (min-width: $x-large) {
        font-size: $text-large;
    }
}

p,
li,
a {
    color: $primary-font-color;
    font-size: $text-regular;
    font-family: $primary-font;
}

p {
    margin-bottom: $text-regular;
}

.page-enter-active, .page-leave-active {
  transition: opacity .1s
}
.page-enter, .page-leave-active {
  opacity: 0
}