/* Mix of both resetting and normalising the stylesheets (Normalize package not used) */
* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3 {
    color: $primary-font-color;
    font-family: $secondary-font;
}

h1 {
    font-size: 3.6rem;

    @media (min-width: 768px) {
        font-size: 4.8rem;
    }
}

h2 {
    font-size: 2.4rem;

    @media (min-width: 768px) {
        font-size: 3.2rem;
    }
}

h3 {
    font-size: 1.8rem;

    @media (min-width: 768px) {
        font-size: 2.4rem;
    }
}

p,
li,
a {
    color: $primary-font-color;
    font-size: 1.6rem;
    font-family: $primary-font;
}

.page-enter-active, .page-leave-active {
  transition: opacity .4s
}
.page-enter, .page-leave-active {
  opacity: 0
}