$green: #00b585;
$grey: #d0d0d0;
$black: #212b36;
$dark-grey: #333333;
$white: #fff;

$padding: 2.5rem;

$theme-color: $dark-grey;
$primary-font-color: $dark-grey;
$secondary-font-color: $white;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Alegreya', serif;
