$green: #00b585;
$grey: #d0d0d0;
$black: #212b36;
$dark-grey: #333333;
$white: #fff;

$horizontal-padding: 1.5rem;

$theme-color: $dark-grey;
$primary-font-color: $black;
$secondary-font-color: $white;
