@import url('https://fonts.googleapis.com/css?family=Alegreya|Montserrat');

@import 'general/variables';

@import 'general/base';

@import 'components/c-blog-posts';
@import 'components/c-header';
@import 'components/c-nav';
@import 'components/c-page';
@import 'components/c-footer';

@import 'scope/s-page';
